.App {
  text-align: center;
  width: 770px;
  height: 800px;
  margin: 0 auto;
}

header {
  width: 50%;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  margin: 2rem auto;
}
.player_disp {
  font-size: 2rem;
  margin: 0.5rem;
}
.play_disp {
  width: 80%;
  height: 50rem;
  text-align: center;
  margin: auto;
  background-color: rgba(15, 44, 30, 0.9);
  position: absolute;
}
.game_disp {
  width: 43rem;
}
.win_disp {
  font-size: 2rem;
  font-weight: 900;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.App {
  width: 80%;
  margin: 1rem, auto;
}
.play_disp button {
  margin: auto;
  width: 250px;
  height: 100px;
}

.game_row {
  display: inline-flex;
  flex-direction: column;
}
.game_row:hover {
  background-color: rgba(15, 44, 30, 1);
}

@media (max-width: 840px) {
  .play_disp {
    height: 33rem;
  }
  .win_disp {
    font-size: 1.75rem;
  }
}

@media (max-width: 560px) {
  .play_disp {
    height: 22rem;
  }
  .win_disp,
  .player_disp {
    font-size: 1.2rem;
  }
  header {
    font-size: 1.3rem;
  }
  .play_disp button {
    margin: auto;
    width: 200px;
    height: 80px;
  }
}

@media (max-width: 282px) {
  .play_disp {
    height: 19rem;
  }
  .win_disp .player_disp {
    font-size: 1rem;
  }
  header {
    font-size: 1.5rem;
  }
  .play_disp button {
    margin: auto;
    width: 100px;
    height: 40px;
  }
}
